apply_LPA_to_exp_MUA_from_raw_data_to_est_fir_rates.ipynb filter=lfs diff=lfs merge=lfs -text
Fig_6_analyze_and_plot_data_from_LPA_on_exp_raw_MUA.ipynb filter=lfs diff=lfs merge=lfs -text
Fig_7_analyze_and_plot_data_from_LPA_on_CSD_using_exp_raw_mua.ipynb filter=lfs diff=lfs merge=lfs -text
